* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Karla", sans-serif;
}

body {
  background: #1c1c1c;
}
body .container {
  padding: 10rem 5rem;
  width: 50rem;
  background: #1f2937;
  margin: 5rem auto;
}
body .container h1 {
  font-size: 4rem;
  color: #fff;
}
body .container h1 span {
  display: block;
  color: #10b981;
}
body .container p {
  font-size: 2rem;
  color: rgba(255, 255, 255, 0.8);
  margin-bottom: 5rem;
}
body .container hr {
  margin: 3rem 0;
  opacity: 0.1;
}
body .container .actions {
  height: 3.8rem;
  display: flex;
  justify-content: space-between;
}
body .container .actions label {
  color: #fff;
}
body .container .actions label,
body .container .actions select {
  font-size: 1.2rem;
}
body .container .actions select {
  margin-right: 0.5rem;
}
body .container .actions #btn-generate-password {
  font-size: 2rem;
  background: #10b981;
  border: none;
  outline: none;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  color: #fff;
  border-radius: 0.5rem;
  padding: 0.8rem 1.8rem;
  cursor: pointer;
}
body .container .generated-password {
  display: flex;
  justify-content: space-between;
}
body .container .generated-password div {
  background: #283547;
  width: 18.5rem;
  height: 4rem;
  border-radius: 0.5rem;
  cursor: pointer;
  color: #10b981;
  font-size: 1.5rem;
  text-align: center;
  padding: 0.8rem;
  overflow: hidden;
  white-space: nowrap;
}
body .container .generated-password div:hover {
  background: #2a384b;
}